#
# Edit this file to contain your platform specific options and save it as Makefile.inc
#
#Fortran compiler
F90C = gfortran

#Fortran options
F90FLAGS = -O3 -fopenmp

#Link flags needed to link the CFITSIO library 
CFITSIO = -lcfitsio

#Link flags needed to link the LAPACK library
LAPACK = -llapack

#Additional f2py flags
F2PYFLAGS = 
